<div class="container">
  <div class='row'>
    <div class="col-sm-12">
      <h1>{{$ctrl.getCurrentUser().name}}</h1>
    </div>
    <div class="col-sm-12">
      <div cg-busy="$ctrl.ulPromise">
        <label>Put Up!</label>
        <div class="well">
          <div ngf-drop ngf-select ng-model="$ctrl.file" class="drop-box"
               ngf-multiple="false" ngf-allow-dir="false" ngf-accept="'image/*'">Please drag and drop the image you want to register</div>
          <div ngf-no-file-drop>Drag-and-drop is not supported in this browser</div>
          <img ng-show="$ctrl.file" ngf-src="$ctrl.file" ngf-accept="'image/*'" class="preview-box">
          <tags-input ng-model="$ctrl.tags"></tags-input>
          <div>
            <button type="button" class="btn btn-default" ng-click="$ctrl.upload($ctrl.file)" ng-disabled="!$ctrl.file">upload</button>
          </div>
        </div>
      </div>
      <div>
        <label>my products</label>
        <div class="row">
          <div class="col-xs-12 col-md-4" ng-repeat="product in $ctrl.products">
            <img class="thumbnail" ng-src="{{product.murl}}">
          </div>
        </div>
      </div>
      <div>
        <label>purchase hist</label>
      </div>
    </div>
  </div>
</div>
