<header class="hero-unit" id="banner">
  <div class="container">
    <h1>aucshare</h1>
    <p class="lead">aucshare is the principle of digital contents</p>
    <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>

<div class="container" infinite-scroll='$ctrl.showMore()' infinite-scroll-disabled='$ctrl.busy || $ctrl.noMoreData'>
  <h1>latest</h1>
  <div class="row">
    <div class="col-xs-12 col-md-4" ng-repeat="product in $ctrl.products">
      <img class="thumbnail" ng-src="{{product.murl}}" ng-click="$ctrl.select(product._id, product.rurl, product.murl)">
　  </div>
  </div>
  <div ng-show='$ctrl.busy'>Loading data...</div>
</div>
