<div cg-busy="selectCtrl.mdPromise">
  <div class="select-body">
    <div>
      <img class="photo-img" ng-src="{{selectCtrl.maskeddataUrl}}" style="max-width: 400px;">
    </div>
    <span ng-repeat="tag in selectCtrl.tags">
      <span class="label label-info">{{tag}}</span>&nbsp;
    </span>
  </div>
  <div class="select-body">
    <md-button class="md-primary" ng-click="selectCtrl.buy()">Buy</md-button>
    <md-button class="md-accent" ng-click="selectCtrl.cancel()">Cancel</md-button>
  </div>
  <div class="select-body">
    <md-input-container>
      <input type="text" ng-model="selectCtrl.comment" placeholder="Comment...">
    </md-input-container>
    <md-button class="md-icon-button md-warn md-raised" ng-click="selectCtrl.bad()" aria-label="Mini FAB">
      <i class="material-icons">thumb_down</i>
    </md-button>
  </div>
</div>
